{% extends 'default.html.twig' %}

{% block flash %}
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}


{% block title %}Picture of {{selectedPlant.name}}{% endblock %}


{% block body %}
    {% set route_parameters = app.request.attributes.get('_route_params') %}    

    <div class="return">
        <a class="button" href="{{ path('dashboard_plant_pictures', {'plantId' : selectedPlant.id}) }}">Back to the gallery</a>
    </div>

    <h1>Picture of {{selectedPlant.name}}</h1>

    <div class="card">
        <img class="card-img-top" src="{{ asset('uploads/pictures/' ~ picture.file ) }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ picture.name }}</h5>
            <div style="text-align: left;">
                {{ picture.date ? picture.date|date('Y-m-d') : '' }}
            </div>
            <p class="card-text">{{ picture.description }}</p>

            <div class="card__plant-links">
                Other plants in this picture : 
                {% for plant in picture.plants %}
                    <a class="" href="{{ path('dashboard_plant_pictures', {'plantId': plant.id}) }}">{{ plant.name }}</a>
                {% endfor %}
            </div>
            
            <div style="text-align: right">
                <a class="button" href="{{ path('dashboard_picture_edit', {'plantId' : selectedPlant.id, 'id': picture.id}) }}">Edit</a> 
                {{ include('dashboard/_partials/_picture-delete-form.html.twig') }}
                <a class="button" href="{{ path('dashboard_picture_new', {'plantId' : selectedPlant.id}) }}">Add another picture</a>
            </div>
        </div>
    </div>

{% endblock %}
