{% extends 'default.html.twig' %}

{% block flash %}
    {# read and display all flash messages #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block title %}Edit Plant{% endblock %}

{% block body %}
    <h1>Edit Plant</h1>

    {{ include('dashboard/_partials/_plant-edit-form.html.twig', {'button_label': 'CUITAS LAS CAROTTAS'}) }}

    <a href="{{ path('dashboard_plants') }}">back to list</a>
     || 
    <a href="{{ path('dashboard_plant_show', {'id': plant.id}) }}">back to plant infos</a>
    
    {{ include('dashboard/_partials/_plant-delete-form.html.twig') }}

{% endblock %}
