{% extends 'default.html.twig' %}

{% block title %} My plants{% endblock %}

{% block body %}

    <h1>Plant index</h1>

    <div class="button-mb">
        <a class="button" href="{{ path('dashboard_plant_new') }}">Add a plant</a>
    </div>

    <table class="table" id="plants-list-container">
        {# mostly hidden #}
        <thead>
            <tr>
                <th>action</th>
                <th>Date</th>
                <th>Name</th>
                <th>Pictures</th>
            </tr>
        </thead>
        
        <tbody class="plant-list">
        {% for plant in plants %}

            {# opening the <table row> and adding the card's background #}
            {% if plant.getCover() %}
                <tr class="plant" style="background-image: url({{  asset('uploads/pictures/' ~ plant.getCover().file ) }})">
            {% else %}
                {% if plant.getPictures()|first %}
                <tr class="plant" style="background-image: url({{  asset('uploads/pictures/' ~ plant.getPictures()|last.file ) }})">
                {% else %}
                    <tr class="plant"> 
                {% endif %}
            {% endif %}
                    
                    {# table datas : actions on plants #}
                    <td class="plant__actions">
                        <a class="button--small button bi bi-pencil-fill" href="{{ path('dashboard_plant_edit', {'id': plant.id}) }}"> Edit</a>
                        <a class="button--small button" href="{{ path('dashboard_plant_show', {'id': plant.id}) }}">Infos</a>
                    </td>

                    {# table datas : date, if there's one#}
                    {% if plant.date %}
                        <td class="plant__date">
                            <div>{{ plant.date ? plant.date|date('Y-m-d') : '' }}</div>
                        </td>
                    {% else %}
                        <td class=""></td>
                    {% endif %}

                    {# table datas : name #}
                    <td data-order="{{ plant.name|slugify }}" class="plant__info"
                        onclick="document.location='{{ path('dashboard_plant_pictures', {'plantId': plant.id}) }}'">
                        <div class="container">
                            <div class="plant__name">
                                <h4><a class="" href="{{ path('dashboard_plant_pictures', {'plantId': plant.id}) }}">{{ plant.name }}</a></h4>
                            </div>
                        </div>
                    </td>

                    {# display: none ; keepin it for table's structure #}
                    <td class="plant__pictures">
                        <div class="container">
                        {% for  picture in plant.getPictures %}

                            <figure  class="plant-thumbnail">
                                <img src="{{ asset('uploads/pictures/' ~ picture.file ) }}" />
                            </figure>
                        {% endfor %}
                        </div>
                    </td>
                    
                </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
