{% extends 'default.html.twig' %}

{% block title %}Plant index{% endblock %}

{% block body %}

    <h1>Plant index</h1>

    <a href="{{ path('dashboard_plant_new') }}">Add a plant</a>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th>actions</th>
                <th>pictures</th>
            </tr>
        </thead>
        <tbody>
        {% for plant in plants %}
            <tr> 
                <!--LATER PLANT VIEW ajouter les 3 dernières photos de chaque plante ? -->
                <td>{{ plant.name }}</td>
                <td>{{ plant.description }}</td>
                <td>{{ plant.date ? plant.date|date('Y-m-d') : '' }}</td>
               <td>
                <a href="{{ path('dashboard_plant_show', {'id': plant.id}) }}">show</a> 
                <a href="{{ path('dashboard_plant_edit', {'id': plant.id}) }}">edit</a> 
                <a href="{{ path('dashboard_plant_pictures', {'plantId': plant.id}) }}">photos</a>

                </td>
                <td>
                    {% for  picture in plant.getPictures %}
                        {{ picture.getName }}
                    {% endfor %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    
{% endblock %}
