<div>
    {{ form_start(form, {
        'attr': {
            'class': 'sf-form'
        }
    }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}
        {{ form_row(form.date) }}
        {{ form_row(form.file) }} 
        {{ form_row(form.plants) }}

        <button class="button">{{ button_label|default('New') }}</button>
    {{ form_end(form) }}

    <div class="required-info"><i class="fas fa-star-of-life"></i> Required fields</div>
</div>