{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.date) }}
    {{ form_row(form.file) }} 

        {% if form.vars.data is not null and form.vars.data.file is not null %} <!-- useless du coup ?! -->
        <img src="{{ asset('uploads/pictures/' ~ oldPictureFile) }}"/>
        {% endif %}
    
    {{ form_row(form.is_cover) }}
    {{ form_row(form.plants) }}

    <button class="btn">{{ button_label|default('Update') }}</button>
   
{{ form_end(form) }}
